.App {
  box-sizing: border-box;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  width: 100vw;
  margin: auto;
}
.input {
  box-sizing: border-box;
  width: 600px;
  margin: 16px;
}
.todoItem {
  /* box-sizing: border-box; */
  background-color: #333;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  color: white;
  height: 50px;
  width: 600px;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.remove {
  display: none;
}

.todoItem:hover {
  background-color: #444;
}
.todoItem:hover .remove {
  display: inline;
}
.task {
  display: flex;
  flex: 0 0 80%;
  height: 100%;
  align-items: center;
}
